{extend name="public:layout" /}

{block name="main-container"}

<div class="wp980 cl hl_about">
  <div class="hl_sd">
    <div class="hl_aboutleft z">
      <h2 class="mb20">拍蒜图片</h2>
      <ul>
        <li class="on"><a href="">授权执照</a></li>
        <li><a href="">拍蒜宣言</a></li>
        <li><a href="">隐私政策</a></li>
        <li><a href="">条款与条件</a></li>
        <li><a href="">版权政策</a></li>
      </ul>
    </div>
  </div>
  <div class="hl_mn y">
    <h2>授权执照</h2>
<p>拍蒜图片发布的所有照片都可以免费使用。您可以将它们用于商业和非商业目的。您不需要向摄影师、Unsplash、Pixabay、Pexels、Startup Stock Photos...或拍蒜图片征求许可或提供授权，尽管我们鼓励和感激保留照片归属。</p>

<p>更准确地说，拍蒜和分发商授予您不可撤销的，非排他性的全球版权许可，可以免费下载，复制，修改，分发，执行和使用Paisuan.com中的照片，包括用于商业目的，未经摄影师或拍蒜的许可或归属。此许可证不包括从Paisuan.com获取照片以复制类似或竞争服务的权利。</p>

  </div>
</div>


	
{include file="public/copyright"}	
	
	
{include file="public/imgfrom" /}

	
	
{/block}
