{extend name="public:layout" /}

{block name="main-container"}


<div class="catenav cl">
	<div class="catenav_c">
        <ul id="user_tabnav" class="cates">
          {foreach name="clttypelist" key="clkey"" item="ntype"}
          	<li class="on"><a href="javascript:void(0)" data-cltype="{$clkey}" {if condition = "$clkey eq $cltype"} class="on" {/if}>{$ntype}</a></li>
          {/foreach}
        </ul>
    </div>
</div>

<div class="ordernav wp cl mt20">
  <ul>
    <li id="sortval">
    	{foreach name="sortlist" key="skey" item="isort"}
    		<a href="javascript:void(0)" data-sortval="{$skey}" {if condition="$skey eq $sortval"} class="on" {/if}>按{$isort}</a>
    	{/foreach}
    </li>
  </ul>
</div>


<div class="wp cl mt50 mb50 mycollection">

<ul class="bg-main-imgRouter">
 
</ul>

</div>



	
{include file="public/copyright"}	
	
	
{include file="public/imgfrom" /}

	
	
{/block}
{block name="script"}
<script>
$(function(){
	getmydowns(true);
})
$("#user_tabnav > li").click(function(){
	$(this).siblings().children('a[class=on]').removeClass('on');
	$(this).children().addClass("on");
	$("input[name=page]").val(1);
	getmydowns(false);
});
$("#sortval > a").click(function(){
	$(this).siblings().removeClass('on');
	$(this).addClass("on");
	$("input[name=page]").val(1);
	getmydowns(false);
})
function getmydowns(append){
	var page = $("input[name=page]").val();
	var sortval = $("#sortval > a[class=on]").attr('data-sortval');
	var cltype = $("#user_tabnav li>a[class=on]").attr('data-cltype');
	$.ajax({
		url:"{:url('index/ajaxgetallcollect')}",
		dataType:"json",
		type:"get",
		data:{page:page,sortval:sortval,cltype:cltype},
		timeout:20*1000,
		success:function(data){
			if(data.code){
				var appendHtml = $("div ul.bg-main-imgRouter");
				if(append === false) {
					appendHtml.html(data.data);
				} else {
					appendHtml.append(data.data);
				}
				
				/* if(page+1 >= data.data.last_page){
					console.log(data.data.last_page);
					var $many = $("div.hl_more.cl.mb50 > a");
					$many.unbind();
					$many.html("已经到底了...");
				} */
				
					
				
			}else{
				layer.msg(data.msg,{icon: 6});
			}
		},error:function(){
			layer.msg("请检查网络状况~~~",{icon: 6});
		}
	})
}	
</script>
{/block}