{extend name="public:layout" /}

{block name="main-container"}
<div id="search_list" class="flex-images">
  <div class="cl">
    
    
    </div>

</div>
<div class="hl_more cl mb50"><a href="#" onlick="return false;">加载更多...</a></div>

	
{include file="public/copyright"}	
	
	
{include file="public/imgfrom" /}

{/block}
{block name="script"}
	<script type="text/javascript">
	    //$('#search_list').flexImages({ truncate: 1 });
	    $(function(){
	    	$("div.hl_more.cl.mb50").bind('click',getmydowns);
	    	getmydowns();
	    });
	    function getmydowns(){
	    	var page = $("input[name=page]").val();
	    	var name = $("input[name=name]").val();
	    	$.ajax({
	    		url:"{:url('index/ajaxgetname')}",
	    		dataType:"json",
	    		type:"get",
	    		data:{page:page,name:name},
	    		timeout:20*1000,
	    		success:function(data){
	    			console.log(data);
	    			if(data.code){
	    				var images = data.data.data;
	    				var dataHList = [300,437,298];
	    				for(var i =0;i<images.length;i++){
	    					var dataH = parseInt(2*Math.random()); 
	    					$("#search_list div.cl").append('<div class="item" data-w="450" data-h="'+dataHList[dataH]+'" ><a href="#"><img src="'+images[i]['thumb']+'" /></a></div>');
	    				}
	    				if(page >= data.data.last_page){
	    					console.log(data.data.last_page);
	    					var $many = $("div.hl_more.cl.mb50");
	    					$many.unbind();
	    					$many.find("a").html("已经到底了...");
	    				}else{
	    					$("input[name=page]").val(page);
	    				}
	    			}else{
	    				layer.msg(data.msg,{icon: 6});
	    			}
	    		},error:function(){
	    			layer.msg("请检查网络状况~~~",{icon: 6});
	    		},complete:function(){
	    			$('#search_list div.cl').flexImages({ truncate: 1 });
	    		}
	    	})
	    }
	</script>
{/block}