{extend name="public:layout" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/login.css">
{/block}
{block name="header"} {/block}
{block name="main-container"}
  <div class="container_login cl" style="background-image: url('__STATIC__/home/img/login_bg.png');">
    	{include file="login/search"}
            <div class="hl_user y">



                <div class="user-box">
                    <div class="user-title">
                        <p>登录</p>
                    </div>

                    <div class="flex-c-m">
                						<a href="#" class="login100-social-item bg1">
                							<i class="iconfont icon-comiiserweima"></i>
                						</a>

                						<a href="#" class="login100-social-item bg2">
                							<i class="iconfont icon-qq"></i>
                						</a>

                						<a href="#" class="login100-social-item bg3">
                							<i class="iconfont icon-weibo"></i>
                						</a>
                                <a href="#" class="login100-social-item bg4">
                    							<i class="iconfont icon-taobao"></i>
                    						</a>
                    					</div>
                    <form class="login-table" name="login" id="login-form" action="login.php" method="post">
                        <div class="login-left cl ">
                            <div class="username cl">电子邮件地址</div>
                            <input type="text" class="yhmiput" name="email" placeholder="请输入邮箱" id="email">
                        </div>
                        <div class="login-left cl">
                            <div class="passwd cl">用户名</div>
                            <input type="text" class="yhmiput" name="username" placeholder="请输入用户名 (英文数字最少6位)" id="username">
                        </div>
                        <div class="login-left cl">
                            <div class="passwd cl">密码</div>
                            <input type="password" class="yhmiput" name="password" placeholder="请输入密码" id="password">
                        </div>
                        <div class="login-left cl">
                            <div class="passwd cl">确认密码</div>
                            <input type="password" class="yhmiput" name="surepass" placeholder="请在此输入密码" id="surepass">
                        </div>
                        <div class="msg">
                          <label>
                            <span class="z"><i class="iconfont icon-gouxuan"></i></span><input type="hidden" name="agree" value="0">我确认我已阅读并同意Paisuan.com <a href="#" class="inspect_link agreement_link" title="用户协议" target="_blank">服务条款</a>和<a href="#" class="inspect_link privacy_link" title=" 隐私政策 " target="_blank"> 隐私政策 </a>
                          </label>
                        </div>
                        <div class="login-btn">
                            <button type="submit" >注册</button>
                        </div>
                    </form>

                    <div class="hl_login_link">已经是会员？<a href="{:url('login/login')}">登录</a></div>

                </div>
            </div>
  	</div>
<script type="text/javascript">
  $(".icon-gouxuan").click(function(){
    verify = $(this).hasClass('icon-gouxuan1') ? 0 : 1;
    $(this).toggleClass('icon-gouxuan1');
    ob = $('input[name=agree]');
    ob.val(ob.val()==0?1:0);
    ob.val(ob.val() !== verify ? verify : ob.val());

    ob.val() == 0 ? $('#errormsg').removeClass('hide').addClass('show') : $('#errormsg').removeClass('show').addClass('hide');
  });
</script>
{/block}
{block name="page-footer"}
	{include file="public/loginfoot"/}
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/home/js/jquery.validate.min.js"></script>
<script type="text/javascript">
	$().ready(function(){
		$("#login-form").validate({
			debug:true,
			rules:{
				email:{
					required: true,
					email:true,
					remote:{
						type:"post",
						url:"{:url('login/emailisexits')}",
						data:{email:function(){$.trim($("#email").val());}}
						
					}
				},
				username:{
					required:true,
					minlength: 6,
					remote:{
						type:"post",
						url:"{:url('login/usernameisexits')}",
						data:{email:function(){$.trim($("#usernmae").val());}}
						
					}
				},
				password:{
					required:true,
					minlength:6,
				},
				surepass:{
					required:true,
					minlength:6,
					equalTo:"#password",
				},
				agree:"required"
			},
			messages:{
				email:{
					required:"邮箱地址不能为空!",
					email:"请填写正确的邮箱地址！",
					remote:"邮箱地址已存在，请使用其他邮箱地址！"
				},
				username:{
					required:"用户名不能为空！",
					minlength:"用户名最少6位！",
					remote:"用户名已存在，请使用其它用户名！"
				},
				password:{
					required:"密码不能为空！",
					minlength:"密码最少6位!",
				},
				surepass:{
					required:"确认密码不能为空！",
					minlength:"确认密码最少6位！",
					equalTo:"确认密码与密码不一致！",
				},
				agree:"必须同意服务条款！",
			},
			submitHandler: function(form) 
			   {      
			      $.ajax({
			    	  type:"post",
			    	  url:"{:url('Login/register')}",
			    	  data:{
			    		  email:$.trim($("#email").val()),
			    		  username:$.trim($("#username").val()),
			    		  password:$.trim($("#password")),
			    		  
			    	  },
			    	  dataType:'json',
			    	  success:function(data){
			    		  if(data.code){
			    			  layer.msg(data.msg,{shade:0.3},function(){
			    				  window.document.location.href=data.url;
			    			  });
			    		  } else {
			    			  layer.msg(data.msg);
			    		  }
			    	  },error:function(){
			    		  
			    	  }
			      });
			      return false; 
			   },
		   errorPlacement: function(error, element) {
			    layer.msg(error.html());
			    return false;
			},
			onfocusout:function(element ){
				$(element).valid();
				
			}
		});
	});

</script>

{/block}