<div class="hl_leftbox z">
 <img class="hl_logo" src="__STATIC__/home/img/hl_logo.png">
   <div class="hl_search_container inPageSearch">
     <div class="search__dropDown pointer">
       <button  class="search__dropDown_button input_none inline-block pointer"><span >图片</span>
         <i  class="iconfont icon-unfold"></i></button>
       <div class="wrap">
         <div  class="searchMenuContainer">
           <ul  class="list-reset selectOptions">
             <li  class="pointer selectOptions_li">图片</li>
             <li  class="pointer selectOptions_li">设计</li>
             <li  class="pointer selectOptions_li">视频</li>
             <li  class="pointer selectOptions_li">高端</li>
           </ul>
         </div>
       </div>
     </div>
     <input  type="text" placeholder="开始免版权创意和灵感照片搜索..." class="search_input input_none">
     <i class="iconfont icon-xiangji1 similar_container_icon"></i>
     <div  class="search_container_text">搜索</div>
   </div>

   <div class="hl_h2">发现更精彩的 <span>免版权创意世界</span> 。</div>
 </div>