{extend name="public:layout" /}

{block name="main-container"}
<div class="wp cl hl_picview mt50">
  <div class="hl_picheader cl">
      <div class="z">
        <div class="pictitle">{:current($info['tags'])}＃{$info.id}</div>
        <div class="summary">来自   <a href="">{$info.from_web}</a>  该作品可用于个人用途，企业商业用途，不包含肖像权与物权；</div>
      </div>
      <div class="y">
        <div class="banquan">
          <p><i class="iconfont icon-check"></i> 商业和个人使用</p>
          <p><i class="iconfont icon-check"></i> 100％免版税</p>
        </div>
      </div>
  </div>
  <div class="piccontent cl mt20">
      <div class="picbox z">
      	<img  src="{:url('index/getimage',['id' => $info['id']])}" width="840" height="580">
      </div>
      <div class="picinfo y">
        <a href="{:url('image/download',array('id'=>$info['id']))}" class="bg_c pic_download" ><span>下载</span> </a>
        <p class="addfav cl mt20"><a href="#" class="f_g" onclick="mylove();"><i class="iconfont icon-like"></i> 添加到收藏</a></p>
        <p class="picnum cl mt20">{$info.download}次下载    {$info.collect}次收藏    {$info.browse}次浏览</p>
        <div class="infos cl mt50">
          <div class="infotit hl_tit">文件详情</div>
          <dl><dt>授权协议：</dt><dd>CCO</dd></dl>
          <dl><dt>文件：</dt><dd>{$info.ext} {:format_bytes($info['size'],2)}</dd></dl>
          <dl><dt>分辨率：</dt><dd><span  class="f_g">{$info.width}×{$info.height}</span> 像素</dd></dl>
        </div>
        <div class="infos cl mt20">
          <div class="infotit hl_tit">关键词</div>
          <div class="keywords">
          		{foreach name="info.tags" key="i" item="tag"}
          			{if condition="count($info['tags']) eq $i"}
          				<a href="/image/search/{$tag}" target="_blank">{$tag}</a>
          			{else/}
          				<a href="/image/search/{$tag}" target="_blank">{$tag}</a>,
                	{/if}
                {/foreach}
            </div>
        </div>
        <div class="colors cl mt20">
          <div class="infotit hl_tit">色彩</div>
          <div class="hl_color">
            <span style="background:#353545"></span>
            <span style="background:#bb864d"></span>
            <span style="background:#d2ae7f"></span>
            <span style="background:#e3eff3"></span>
            <span style="background:#dfcbb1"></span>
            <span style="background:#f4e57e"></span>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="wp cl hl_ortherpic mb50">
  <div class="hl_morepic cl mt50 mb50">
    <h2>更多相似图片</h2>
  <p>浏览来自拍蒜的数千张类似的图片</p>
  </div>
<div id="search_list" class="flex-images">
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/1.jpg" data-src="img/1.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="437">
        <a target="_blank" href="#">
            <img src="img/2.jpg" data-src="img/2.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/3.jpg" data-src="img/3.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="298">
        <a target="_blank" href="#">
            <img src="img/4.jpg" data-src="img/4.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/1.jpg" data-src="img/1.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="437">
        <a target="_blank" href="#">
            <img src="img/2.jpg" data-src="img/2.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/3.jpg" data-src="img/3.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="298">
        <a target="_blank" href="#">
            <img src="img/4.jpg" data-src="img/4.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/1.jpg" data-src="img/1.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="437">
        <a target="_blank" href="#">
            <img src="img/2.jpg" data-src="img/2.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/3.jpg" data-src="img/3.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="298">
        <a target="_blank" href="#">
            <img src="img/4.jpg" data-src="img/4.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/1.jpg" data-src="img/1.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="437">
        <a target="_blank" href="#">
            <img src="img/2.jpg" data-src="img/2.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/3.jpg" data-src="img/3.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="298">
        <a target="_blank" href="#">
            <img src="img/4.jpg" data-src="img/4.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/1.jpg" data-src="img/1.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="437">
        <a target="_blank" href="#">
            <img src="img/2.jpg" data-src="img/2.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/3.jpg" data-src="img/3.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="298">
        <a target="_blank" href="#">
            <img src="img/4.jpg" data-src="img/4.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/1.jpg" data-src="img/1.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="437">
        <a target="_blank" href="#">
            <img src="img/2.jpg" data-src="img/2.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/3.jpg" data-src="img/3.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="298">
        <a target="_blank" href="#">
            <img src="img/4.jpg" data-src="img/4.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/1.jpg" data-src="img/1.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="437">
        <a target="_blank" href="#">
            <img src="img/2.jpg" data-src="img/2.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/3.jpg" data-src="img/3.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="298">
        <a target="_blank" href="#">
            <img src="img/4.jpg" data-src="img/4.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/1.jpg" data-src="img/1.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="437">
        <a target="_blank" href="#">
            <img src="img/2.jpg" data-src="img/2.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="300">
        <a target="_blank" href="#">
            <img src="img/3.jpg" data-src="img/3.jpg">
        </a>
    </div>
    <div class="item" data-w="450" data-h="298">
        <a target="_blank" href="#">
            <img src="img/4.jpg" data-src="img/4.jpg">
        </a>
    </div>


</div>
<div class="hl_more cl"><a href="">加载更多...</a></div>	
	
{include file="public/copyright"}	
	
	
{include file="public/imgfrom" /}

{/block}
{block name="script"}
<script>

function mylove(){
	var index = layer.load(1,{shade:0.3});
	$.ajax({
		type:"post",
		url:"{:url('Image/userlove')}",
		dataType:"json",
		timeout:20*1000,
		data:{id:"{$info.id}"},
		success:function(data){
			layer.close(index);
			if(data.status){
				
			}else{
				layer.msg(data.msg);
			}
			
		},error:function(){
			layer.msg("请检查网络状况~~~");
		}
	});
	
}
</script>
{/block}