<!-- partbanquan -->
<div class="indexpart partbanquan cl">
  <div class="hl_h2">为什么要使用拍蒜免版权图库？</div>
  <div class="hl_p">
    <p>我们正致力于搜索照片以寻找内容的最佳解决方案。所有照片均根据Creative Commons Zero（知识共享）</p>
    <p>和Public Domain（公有领域 ）或类似许可。这意味着您可以免费复制，修改，分发和</p>
    <p>使用这些照片，包括商业用途，而无需征得任何人的许可或提供归属信息。</p>
    <p>例如：广告、出版刊物、书籍插图、网络配图等。</p>
  </div>
  <div class="wp cl">
    <div class="hl_mode cl">
      <ul>
        <li>
          <div class="mode_ico mode1"></div>
          <div class="mode_tit">50万张免版权照片</div>
          <div class="mode_subtit">照片数量不断增长。所有照片均根据Creative Commons Zero和Public Domain或类似许可</div>
        </li>
        <li>
          <div class="mode_ico mode2"></div>
          <div class="mode_tit">50万张免版权照片</div>
          <div class="mode_subtit">照片数量不断增长。所有照片均根据Creative Commons Zero和Public Domain或类似许可</div>
        </li>
        <li>
          <div class="mode_ico mode3"></div>
          <div class="mode_tit">50万张免版权照片</div>
          <div class="mode_subtit">照片数量不断增长。所有照片均根据Creative Commons Zero和Public Domain或类似许可</div>
        </li>
        <li>
          <div class="mode_ico mode4"></div>
          <div class="mode_tit">50万张免版权照片</div>
          <div class="mode_subtit">照片数量不断增长。所有照片均根据Creative Commons Zero和Public Domain或类似许可</div>
        </li>
        <li>
          <div class="mode_ico mode5"></div>
          <div class="mode_tit">50万张免版权照片</div>
          <div class="mode_subtit">照片数量不断增长。所有照片均根据Creative Commons Zero和Public Domain或类似许可</div>
        </li>
        <li>
          <div class="mode_ico mode6"></div>
          <div class="mode_tit">50万张免版权照片</div>
          <div class="mode_subtit">照片数量不断增长。所有照片均根据Creative Commons Zero和Public Domain或类似许可</div>
        </li>
      </ul>
    </div>
  </div>

</div>