<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css"  href="__STATIC__/home/css/common.css" />
  <link rel="stylesheet" href="__STATIC__/home/swiper/swiper.min.css"/>

  <script src="__STATIC__/home/swiper/swiper.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="__STATIC__/home/iconfont/iconfont.css">
  {block name="style"}{/block}
  
  {block name="page-title"}<title>拍蒜 - {$title|default='首页'}</title>{/block}
</head>
<body>
{block name="header"}
<!-- header -->
  <div class="header" id="header">
      <div class="container-fluid header-container">
        <a class="logo" href="index.html"></a>
        <div class="search_container inPageSearch">
          <div class="search__dropDown pointer">
            <button  class="search__dropDown_button input_none inline-block pointer"><span >图片</span>
              <i  class="iconfont icon-unfold"></i></button>
            <div class="wrap">
              <div  class="searchMenuContainer">
                <ul  class="list-reset selectOptions">
                  <li  class="pointer selectOptions_li">图片</li>
                  <li  class="pointer selectOptions_li">设计</li>
                  <li  class="pointer selectOptions_li">视频</li>
                  <li  class="pointer selectOptions_li">高端</li>
                </ul>
              </div>
            </div>
          </div>
          <input  type="text" placeholder="开始免版权创意和灵感照片搜索..." class="search_input input_none">
          <i class="iconfont icon-xiangji1 similar_container_icon"></i>
          <div  class="search_container_text">搜索</div>
        </div>
        <ul class="menu" id="menu">
            <li><a href="#">探索</a></li>
            <li class="active"><a href="#">VIP45/年</a></li>
            <li><a href="#">收藏合集</a></li>
            <li><a href="#">新</a></li>
            <li><a href="#">如何使用</a></li>
            <li><a href="#">操作指南</a></li>
            <li><a href="#"><i  class="iconfont icon-gengduo1" style="font-size:30px;"></i></a></li>
          <li class="menu-btn active desktop-only"><a href="#">免费注册</a></li>
          <li class="menu-btn desktop-only"><a target="_blank" href="#">HI，请登录</a></li>
        </ul>

      </div>

    </div>
  <!-- header end -->
{/block}
{block name="main-container"}{/block}
{block name="page-footer"}
	<!-- footer -->
	<div class="footer cl">
	  <div class="footbox cl">
	    <div class="hl_h2">仅45元/年  现在就开始吧</div>
	    <div class="hl_p">你还在犹豫什么，高品质的创意平台更快的提高工作效率</div>
	    <a href="" class="hl_btn">社交登录</a>
	  </div>
	  <div class="wp cl">
	
	    <p class="hl_link cl">
	      <a href="">常见问题</a>
	      <a href="">执照</a>
	      <a href="">条款</a>
	      <a href="">隐私</a>
	      <a href="">关于我们</a>
	      <a href="">商务合作</a>
	      <a href="">自媒体推广</a>
	      <a href="">API</a>
	    </p>
	    <p class="hl_link cl">@2018 PAISUAN.COM  DUOZHA Team  Copyright © 2018 版权所有 </p>
	
	      <div class="hl_link2 cl">
	          友情链接：
	        <a href="">创造师导航</a>
	        <a href="">半撇私塾</a>
	        <a href="">稿定设计</a>
	        <a href="">FOTOR懒设计</a>
	        <a href="">新媒体管家</a>
	        <a href="">壹伴</a>
	        <a href="">美恰</a>
	        <a href="">墨刀</a>
	        <a href="">创客贴</a>
	        <a href="">MAKA</a>
	      </div>
	  </div>
	</div>
<!-- footer end -->
{/block}
<!--页面js-->
<script src="__STATIC__/home/js/jquery-1.12.3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/libs/layer/layer.js"></script>
<script src="__STATIC__/home/js/jquery.flex-images.js" type="text/javascript"></script>
{block name="script"}{/block}
<!--页面js-->
<!-- 额外HTML代码 -->
{$extra_html|default=''}
<!-- 额外HTML代码 -->
</body>
</html>
