{extend name="public:layout" /}

{block name="main-container"}
<div class="fl-banner">
  <div class="fl_banner_top wp cl">
    <div class="y addlike">
        <a href="javascript:void(0);"><i  class="iconfont icon-like"></i> 添加到喜爱</a>
    </div>
    <div class="hl_from z">
      <p>来自蒜瓣er的</p>
      <p class="f_c">创意图片</p>
     </div>
  </div>

</div>


<div class="basetit cl mt40">
  <div class="wp">
    <div class="z">

      <div class="avatarimg z"><img src="{$userinfo['head_img']}" ></div>
      <span class="username z">{$userinfo['nickname']}
      	{if condition="$isvip eq 1 OR $isvip eq 2"}
        	<span class="hl_vip bg_c">VIP</span>
        {/if}
        <span class="ms">创建，收藏{$dirinfo.count}副图片</span>
          <a href="javascript:void(0);" class="gx f_g">感谢ta</a>
      </span>

    </div>
    <div class="y rightbox">
      <span class="z">浏览 {$dirinfo.browse} 人   </span>
      <div class="likebox z">
      	{foreach name="browseusers" item="browse"}
        	<div class="likeimg"><img src="{$browse['info']['head_img']}" ></div>
        {/foreach}
      </div>
      <span class="z">还得到{$dirinfo.loves}人喜爱</span>
      <span class="sendlink z">
        <a href="javascript:void(0);"><i  class="iconfont icon-link1"></i> <span>发送给朋友</span></a>

        </span>
    </div>

  </div>
</div>

<div class="hl_piclist">
  <ul>
   
  </ul>
  <div class="hl_more cl mb50"><a href="javascript:void(0)" >加载更多...</a></div>
</div>


	
{include file="public/copyright" /}
{include file="public/imgfrom" /}
{/block}
{block name="script"}
<script>
$(function(){
	$("div.hl_more.cl.mb50 > a").bind('click',getmydowns);
	getmydowns();
});
function getmydowns(){
	var page = $("input[name=page]").val();
	$.ajax({
		url:"{:url('user/ajaxgetusercols',array('id' => $dirinfo['id']))}",
		dataType:"json",
		type:"get",
		data:{page:page},
		timeout:20*1000,
		success:function(data){
			if(data.code){
				if(data.data == '' || data.data == null || data.data == undefined) {
					var $many = $("div.hl_more.cl.mb50 > a");
					$many.unbind();
					$many.html("已经到底了...");
				} else {
					$("div.hl_piclist > ul").append(data.data);
					setPage(++page);
				}
				
					
				
			}else{
				layer.msg(data.msg,{icon: 6});
			}
		},error:function(){
			layer.msg("请检查网络状况~~~",{icon: 6});
		}
	})
}
</script>
{/block}