<div class="us-nav-wp">
	<div class="us-nav-c">
        <ul id="user_tabnav" class="us-nav">
            <li>
				<a href="{:url('User/mycollects')}" {eq name="type" value="colect"} class="on" {/eq}>我的收藏盒</a>
			</li>
			<li>
				<a href="{:url('User/myloves')}" {eq name="type" value="love"} class="on" {/eq}>我的喜爱</a>
			</li>
			<li>
					<a href="{:url('User/mydowns')}" {eq name="type" value="download"} class="on" {/eq}>下载记录</a>
				</li>
        	<li>
        		<a href="{:url('User/mybrowses')}" {eq name="type" value="browse"} class="on" {/eq}>浏览记录</a>
        	</li>
        </ul>
        <div class="buyvip y">
          <a href="promotion.html">
            <div class="hl_vip bg_c">VIP</div>
            <p>领取免费VIP</p>
          </a>
        </div>
    </div>
</div>
