{extend name="public:layout" /}

{block name="main-container"}
{include file="user/info"}

{include file="user/menu"}
<div class="wp cl mt50">
    <div class="hl_mytit">我喜爱的收藏盒</div>
	<ul class="bg-main-imgRouter">
	  <li><div class="bg-main-imgRouter-item"><div class="item-img"><img src="img/sc.jpg" alt=""></div><a href="#" target="_blank" class="item-link"><span class="item-title">教师节·卡通背景</span></a></div></li>
	  <li><div class="bg-main-imgRouter-item"><div class="item-img"><img src="img/sc2.jpg" alt=""></div><a href="#" target="_blank" class="item-link"><span class="item-title">中秋节·中国风</span></a></div></li>
	  <li><div class="bg-main-imgRouter-item"><div class="item-img"><img src="img/sc.jpg" alt=""></div><a href="#" target="_blank" class="item-link"><span class="item-title">教师节·卡通背景</span></a></div></li>
	  <li><div class="bg-main-imgRouter-item"><div class="item-img"><img src="img/sc2.jpg" alt=""></div><a href="#" target="_blank" class="item-link"><span class="item-title">中秋节·中国风</span></a></div></li>
	  <li><div class="bg-main-imgRouter-item"><div class="item-img"><img src="img/sc.jpg" alt=""></div><a href="#" target="_blank" class="item-link"><span class="item-title">教师节·卡通背景</span></a></div></li>
	</ul>
</div>
<div class="hl_piclist cl">
  <div class="hl_mytit">我对{$count|default=0}张图片表示过喜欢</div>
  <ul>
    

  </ul>
  <div class="hl_more cl mb50"><a href="javascript:void(0)" >加载更多...</a></div>
</div>

	
{include file="public/copyright"}	
	
	
{include file="public/imgfrom" /}

	
	
{/block}
{block name="script"}

<script >
$(function(){
	$("div.hl_more.cl.mb50 > a").bind('click',getmydowns);
	getmydowns();
});
function getmydowns(){
	var page = $("input[name=page]").val();
	$.ajax({
		url:"{:url('user/ajaxmyloves')}",
		dataType:"json",
		type:"get",
		data:{page:page},
		timeout:20*1000,
		success:function(data){
			if(data.code){
				if(data.data == '' || data.data == null || data.data == undefined) {
					var $many = $("div.hl_more.cl.mb50 > a");
					$many.unbind();
					$many.html("已经到底了...");
				} else {
					$("div.hl_piclist.cl > ul").append(data.data);
					setPage(++page);
				}
				
			}else{
				layer.msg(data.msg,{icon: 6});
			}
		},error:function(){
			layer.msg("请检查网络状况~~~",{icon: 6});
		}
	})
}
</script>
{/block}